{% extends 'body.html' %}

{% block content %}

<div id="detail-title">
    {{title }}
</div>

<br>
<div id="container-detail">
    <div class="row">
        <div class="col" id="titulo-detalle">
            <li class="card-text text-start">Fecha del pedido:</li>
        </div>
        <div class="col" id="dato-detalle">
            <strong>{{pedidoconvenio.date_create | date:"d/m/Y"}}</strong>
        </div>
        <hr id="hr-detalle">
    </div>


    <div class="row">
        <div class="col" id="titulo-detalle">
            <li class="card-text text-start">Funcionario:</li>
        </div>
        <div class="col" id="dato-detalle">
            {% if pedidoconvenio.num_fun == None %}
            <strong></strong>
            {% else %}
            <strong>{{pedidoconvenio.num_fun}}</strong>
            {% endif %}
        </div>
        <hr id="hr-detalle">
    </div>
    <div class="row">
        <div class="col" id="titulo-detalle">
            <li class="card-text text-start">Importe:</li>
        </div>
        <div class="col" id="dato-detalle">
            {% if pedidoconvenio.importe == None %}
            <strong></strong>
            {% else %}
            <strong>{{pedidoconvenio.importe}}</strong>
            {% endif %}
        </div>
        <hr id="hr-detalle">
    </div>
    <div class="row">
        <div class="col" id="titulo-detalle">
            <li class="card-text text-start">Cuotas:</li>
        </div>
        <div class="col" id="dato-detalle">
            {% if pedidoconvenio.cuotas == None %}
            <strong></strong>
            {% else %}
            <strong>{{pedidoconvenio.cuotas}}</strong>
            {% endif %}
        </div>
        <hr id="hr-detalle">
    </div>
    <hr id="hr-detalle">
</div>

<br>
<button class="button-edit"><a id="boton" href="{% url 'pedido_compra_list' %}"><i class="bi bi-caret-left"></i>
    Regresar</a></button>




{% endblock %}