{% extends 'list.html' %}
{% load static %}
{{ title }}

{% block columns %}
<tr id="tabla-titulo">

    <th style="display:none;" scope="col">Fecha orden</th>
    <th style="display:none;" scope="col">Fecha filtro</th>
    <th style="display:none;" scope="col">ID</th>

    <th scope="col">Fecha Compra</th>
    <th scope="col">CI Cliente</th>
    <th scope="col">Nombre Cliente</th>
    <th scope="col">Num Doc</th>
    <th scope="col">Articulo</th>
    <th scope="col">Fecha de retiro</th>
    <th scope="col"></th>
</tr>
{% endblock %}



{% block rows %}



<tr id="tabla-datos">

    <td style="display:none;">{{n.date_create| date:"Y/m/d"}}</td> 
    <td style="display:none;">{{n.date_create| date:"m/d/Y"}}</td> 
    <td style="display:none;">{{n.id}}</td> 

    <td>{{ filtro.date_create | date:"d/m/Y"}}</td>
    <td>{{ filtro.ci_cliente }}</td>
    <td>{{ filtro.nombre_cliente }}</td>
    <td>{{ filtro.num_factura }}</td>
    <td>{{ filtro.producto }}</td>

    {% if filtro.fecha_retiro == None %}
    <td id="no-enviado">No retirado</td>
    {% else %}
    <td id="enviado">{{ filtro.fecha_retiro | date:"d/m/Y"}}</td>
    {% endif %}

    {% if filtro.fecha_retiro is none %}
    <td><a id="boton-edit" type="button" class="btn btn-primary" href="{% url 'avisa_retiro_print' filtro.id %}">Imprimir <i
                class="bi bi-printer"></i></a></td>
    {% else %}
    <td></td>
    {% endif %}

</tr>




{% endblock %}


{% block js %}

<script src="{% static 'lib/jquery-confirm/jquery-confirm.min.js' %}"></script>
<script src="{% static 'js/modal-general/datatable.js' %}"></script>

<script>
    Swal.fire({
        icon: 'warning',
        title: 'Aviso de retiro',
        text: 'Muestra la ultima solicitud creada para generar la impresion',
        confirmButtonText: 'OK'
    })
</script>

{% endblock %}
