{% extends 'home.html' %}
{% block body %}

<html>

<body class="body-container">



    {% if user.is_authenticated and request.session.group.name == "Sucursal" %}

    <!----------------------Menu Vertical SUCURSAL------------------------>
    {% include 'menu_hz_suc.html' %}
    <!----------------------Menu Vertical SUCURSAL FIN-------------------->



    {% elif user.is_authenticated and request.session.group.name == "EncargadoSuc" %}

    <!----------------------Menu Vertical Proveedor------------------------>
    {% include 'menu_hz_enc.html' %}
    <!----------------------Menu Vertical Proveedor FIN------------------------>

    {% elif user.is_authenticated and request.session.group.name == "Estudio" %}

    <!----------------------Menu Vertical Proveedor------------------------>
    {% include 'menu_hz_prov.html' %}
    <!----------------------Menu Vertical Proveedor FIN------------------------>

    {% elif user.is_authenticated and request.session.group.name != "Sucursal" %}

    <!----------------------Menu Vertical ADM------------------------>
    {% include 'menu_hz_adm.html' %}
    <!----------------------Menu Vertical ADM FIN-------------------->



    {% endif %}



    <div id="mheader">
        <div class="d-flex flex-column">


            <!-------Menu usuario--------->
            {% include 'menu_profile.html' %}
            <!-------Menu usuario FIN--------->


            <!-------Menu sesion--------->
            {% include 'menu_sesion.html' %}
            <!-------Menu sesion FIN--------->



            {% if user.is_authenticated and request.session.group.name == "Sucursal" %}

            <!----------------------Menu Vertical SUCURSAL------------------------>
            {% include 'menu_ver_suc.html' %}
            <!----------------------Menu Vertical SUCURSAL FIN-------------------->


            {% elif user.is_authenticated and request.session.group.name == "EncargadoSuc" %}

            <!----------------------Menu Vertical SUCURSAL------------------------>
            {% include 'menu_ver_enc.html' %}
            <!----------------------Menu Vertical SUCURSAL FIN-------------------->

            {% elif user.is_authenticated and request.session.group.name == "Estudio" %}

            <!----------------------Menu Vertical ADM------------------------>
            {% include 'menu_ver_estudio.html' %}
            <!----------------------Menu Vertical ADM FIN-------------------->


            {% elif user.is_authenticated and request.session.group.name != "Sucursal" %}

            <!----------------------Menu Vertical ADM------------------------>
            {% include 'menu_ver_adm.html' %}
            <!----------------------Menu Vertical ADM FIN-------------------->


            {% endif %}


        </div>
    </div>
    <!-- ======= Fondo Section y Content ======= -->
    <!-- ======= Fondo Section y Content ======= -->
    <div id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <main>

            {% block content %}

            {% endblock %}
        </main>

        <div class="hero-container" data-aos="fade-in"></div>
    </div>
    <!-- ======= Fondo Section y Content ======= -->
    <!-- ======= Fondo Section y Content ======= -->




    {% include 'footer.html' %}




    {% block javascript %}
    {% endblock %}

    {% block js%}
    {% endblock %}

    {% block modal %}
    {% endblock %}


    <!--   ERROR DE SESSION    -->
    {% if messages %}
    <script> var html = '<p>';</script>
    {% for message in messages %}
    <script> html += '{{ message }}'</script>
    {% endfor %}
    <script> html += '<p>';</script>
    <script>
        Swal.fire({
            title: 'Error',
            icon: 'error',
            html: html,
        });
    </script>
    {% endif %}
    <!--     -->

</body>

</html>
{% endblock %}